
{% extends "login-base.html.twig" %}

{% block body %}
    <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
        Merci de vous connecter
    </h1>

    <form method="post" id="login-form">
        {% if error %}
            <div class="text-red-600 font-bold">{{ error.messageKey|trans(error.messageData, 'security', locale= 'fr_FR') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-6">
                Vous êtes connecté en tant que {{ app.user.userIdentifier }} !
                <br><a href="{{ path('app_logout') }}" class="font-bold underline mt-4">Me déconnecter</a>
            </div>
        {% endif %}

        <div class="mb-6">
            <label for="inputEmail" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Votre Email</label>
            <input type="email" name="email" id="inputEmail "value="{{ last_username }}" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5"  autocomplete="email" required autofocus>
        </div>
        <div class="mb-6 toggle-password-container">
            <label for="inputPassword" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Mot de passe</label>
            <input
                type="password"
                name="password"
                id="inputPassword"
                class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5"
                autocomplete="current-password"
                required
                {{ stimulus_controller('symfony/ux-toggle-password/toggle-password', {
                    visibleLabel: 'Montrer',
                    hiddenLabel: 'Cacher',
                    buttonClasses: ['toggle-password-button'],
                }) }}>
        </div>
        <div class="mb-6">
            <div class="flex items-start">
                <div class="flex items-center h-5">
                    <input id="remember" name="_remember_me" aria-describedby="remember" type="checkbox" class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300">
                </div>
                <div class="ml-3 text-sm">
                    <label for="remember" class="text-gray-500 dark:text-gray-300">Se souvenir de moi</label>
                </div>
            </div>
            <a href="{{ path('app_forgot_password_request')}}" class="text-sm font-medium connect-cta hover:underline">Mot de passe oublié ?</a>
        </div>
        <input type="hidden" name="_csrf_token"
            value="{{ csrf_token('authenticate') }}"
        >
        <button type="submit" class="w-full connect hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Me connecter</button>
    </form>
{% endblock %}