{% extends "admin/base.html.twig" %}

{% block title %}Liste des clients enregistrés
{% endblock %}

{% block body %}
	<div class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700 ">
		<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
			<table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
				<caption class="p-5 text-lg font-semibold text-left rtl:text-right text-gray-900 bg-white dark:text-white dark:bg-gray-800">
					Liste des clients enregistrés
					<p class="mt-1 text-sm font-normal text-gray-500 dark:text-gray-400">Voici la liste des clientss enregistrés sur le site, avec leurs accès</p>
					{% include "_partials/_searchbar.html.twig" with {'element': 'client'} %}
				</caption>
				<thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
					<tr>
						<th scope="col" class="px-6 py-3">Nom</th>
						<th scope="col" class="px-6 py-3">Prénom</th>
                        <th scope="col" class="px-6 py-3">N° Téléphone</th>
                        <th scope="col" class="px-6 py-3">Email</th>
                        <th scope="col" class="px-6 py-3">Commandes</th>
                        <th scope="col" class="px-6 py-3">Dernière connexion</th>
                        <th scope="col" class="px-6 py-3">
                            <span class="sr-only">Actions</span>
                        </th>
					</tr>
				</thead>
				<tbody>
					{% for customer in customers %}
						<tr class="bg-white border-b hover:bg-gray-50 dark:bg-gray-800 dark:border-gray-700 max-h-10">
							<th class="px-6 py-4">{{ customer.firstname|capitalize }}</th>
							<th class="px-6 py-4">{{ customer.lastname|capitalize }}</th>
                            <th class="px-6 py-4">
								<a href="tel:{{ customer.formattedPhone ?? customer.phone }}">
									{% if customer.formattedPhone is null or customer.iso2 == 'fr' %}
										{{ customer.phone|replace({' ': '.'}) }}
									{% else %}
										({{ customer.iso2 }}) {{ customer.formattedPhone }}
									{% endif %}
								</a>
							</th>
							<td class="px-6 py-4">{{ customer.email }}</td>
                            <td class="px-6 py-4">
                                {% for order in customer.orders %}
                                    <a href="{{ path('app_edit_order_show', {'id': order.id})}}">{{ 'n° ' ~ order.id ~ ' du ' ~ order.createdAt|date("d/m/Y à H:i", "Europe/Paris") }}</a><br>
                                {% endfor %}
                            </td>
                            <td class="px-6 py-4">{{ customer.lastConnexion ? customer.lastConnexion|date("d/m/Y à H:i", "Europe/Paris") : '' }}</td>
                            <td class="px-6 py-4 text-right whitespace-nowrap">
                                <a href="{{ path('app_edit_customer_edit', {'id': customer.id}) }}">Modifier</a> <br>
                                {% if customer.orders|length == 0 %}
                                    {{ include('admin/customer/_delete_form.html.twig', { className: 'font-medium text-red-600 dark:text-blue-500 hover:underline'}) }}
                                {% endif %}
                            </td>
						</tr>
					{% else %}
						<tr>
							<td colspan="6">Aucune donnée trouvée</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}